@import "../Home/styleTest.css";


#cont{
    flex-wrap: wrap;
    display: flex;
}

.alimenti{
    display: inline-flex;
}

.carne, .pesce, .pasta, .frutta{
    width: 100%;
    height: 100%;
}

#CARNE{
    background: linear-gradient(45deg, #07ebdf,#060af5);
    margin: 0.5%;
}
#PESCE{
    background: linear-gradient(45deg, #a2f803,#04fb4e);
    margin: 0.5%;
}
#PASTA{
    background: linear-gradient(45deg, #c6e902,#fb0404);
    margin: 0.5%;
}
#FRUTTA{
    background: linear-gradient(45deg, #f80303,#fb04e6);
    margin: 0.5%;
}

#contcollapse{
    padding: 0;
}

.collapse_carne, .collapse_pesce, 
.collapse_farina, .collapse_frutta{
    display: none;
    justify-content: space-around;
} 

#CARNE:hover #ca1, #PESCE:hover #pe1, 
#PASTA:hover #pa1, #FRUTTA:hover #fr1{
    opacity: 0.5;
    transition: 0.5s;
}



.card_carne{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
}

.card{
    display: flex;
    align-items:center;
    text-align: center;
    width: 17vw;
    height: 100%    ;
    background: transparent;
    transition: background-color 0.3s ease-in,
    transform 0.3s ease-in;
    border: none;
}


#ca:hover,#pe:hover, #fa:hover, #fr:hover{
    background-color: #198754;
    transform: translateY(-3px);
}

.bottoni{
    text-align: center;
}

.form-control{
    border: transparent;
    background: transparent;
    width: 3em;
    text-align: center; 
}
#bottoni{
    background: none;
    background-color:transparent;
    border-color: #212529; 
    border: 2px solid;
    font: inherit;
    line-height: 1;
    padding: 1em 1em;
    transition-duration: 0.5s;
}

#bottoni:hover, #bottoni:hover{
    background-color: #030303b2;
    border-color:transparent;
    color: #ffffff;
}

#bottoni:focus{
    box-shadow: none;
}

.container_valori{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container_alsel{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn3{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #198754;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #198754;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    width: 20vw;
}

  .btn3::before{
    background: #198754;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: all 2s ease;
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .btn3:hover::before{
    height: 10000%;
  }

/* #alsel{
    width: auto;
    text-align: center;
} */

#alimenti_lista{
    display: inline-block;
    flex-wrap: wrap;
    
}

#alimenti_lista{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#li_item{
    border-color: #198754;
    background-color: transparent; 
    /* float: left; */
    justify-content: center;
    flex-direction: row;
    color: #198754;
}
.testo{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
#testo_lista{
    display: inline-block;
    justify-content: center;
    text-align: center;
    color: #198754;
}




@media screen and (max-width: 1200px){
    #cont{
        display: flex;
        justify-self: center;
    }
    .alimenti{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #CARNE, #PESCE, #PASTA, #FRUTTA{
        width: 47vw;
    }

    .collapse_carne, .collapse_pesce, 
    .collapse_farina,.collapse_frutta{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: 24vw;
    }
    .btn3{
        width: 30vw;
    }
    #alsel{
        width: 100vw;
    }


}

@media screen and (max-width: 1000px){
    #cont{
        display: flex;
        justify-self: center;
    }
    .alimenti{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #CARNE, #PESCE, #PASTA, #FRUTTA{
        width: fit-content;
    }

    .collapse_carne, .collapse_pesce,
    .collapse_farina, .collapse_frutta{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: 40vw;
    }
    .btn3{
        width: 30vw;
    }

}




@media screen and (max-width: 767px){
    #cont{
        display: flex;
        justify-self: center;
    }
    .alimenti{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #CARNE, #PESCE, #PASTA, #FRUTTA{
        width: fit-content;
    }

    .collapse_carne, .collapse_pesce, 
    .collapse_farina, .collapse_frutta{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: 45vw;
    }



}

@media screen and (max-width: 550px){
    #cont{
        display: flex;
        justify-self: center;
    }
    .alimenti{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #CARNE, #PESCE, #PASTA, #FRUTTA{
        width: fit-content;
    }

    .collapse_carne, .collapse_pesce, 
    .collapse_farina, .collapse_frutta{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: 47vw;
    }


}
