@import "../Home/styleTest.css";

#cont{
    flex-wrap: wrap;
    display: flex;
}

.alimenti{
    display: inline-flex;
}

.carne, .pesce, .pasta, .frutta{
    width: 100%;
    height: 100%;
}

#CARNE{
    background: linear-gradient(45deg, #07ebdf,#060af5);
    margin: 0.5%;
}
#PESCE{
    background: linear-gradient(45deg, #a2f803,#04fb4e);
    margin: 0.5%;
}
#PASTA{
    background: linear-gradient(45deg, #c6e902,#fb0404);
    margin: 0.5%;
}
#FRUTTA{
    background: linear-gradient(45deg, #f80303,#fb04e6);
    margin: 0.5%;
}



.collapse_carne, .collapse_pesce{
    display: none;
    justify-content: space-around;

} 

#CARNE:hover #ca1, #PESCE:hover #pe1, #PASTA:hover #pa1, #FRUTTA:hover #fr1{
    opacity: 0.5;
    transition: 0.5s;
}



.card_carne{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
}

.card{
    display: flex;
    align-items:center;
    text-align: center;
    width: 18vw;
    background: transparent;
    transition: background-color 0.3s ease-in,
    transform 0.3s ease-in;
    border: none;
}


#ca:hover,#pe:hover{
    background-color: #198754;
    transform: translateY(-3px);
}

.bottoni{
    text-align: center;
}

.form-control{
    border: transparent;
    background: transparent;
    width: 3em;
    text-align: center; 
}
#bottoni{
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    padding: 1em 1em;
    transition-duration: 0.5s;
}

#bottoni:hover, #bottoni:hover{
    background-color: #0c25b4;
    border-color: #0c25b4;
    /* color: #212529; */
    color: white;
}




@media screen and (max-width: 1200px){
    #cont{
        display: flex;
        justify-self: center;
    }
    .alimenti{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #CARNE, #PESCE, #PASTA, #FRUTTA{
        width: 47vw;
    }

    .collapse_carne, .collapse_pesce{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: 24vw;
    }

}

@media screen and (max-width: 1000px){
    #cont{
        display: flex;
        justify-self: center;
    }
    .alimenti{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #CARNE, #PESCE, #PASTA, #FRUTTA{
        width: fit-content;
    }

    .collapse_carne, .collapse_pesce{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: 40vw;
    }

}




@media screen and (max-width: 767px){
    #cont{
        display: flex;
        justify-self: center;
    }
    .alimenti{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #CARNE, #PESCE, #PASTA, #FRUTTA{
        width: fit-content;
    }

    .collapse_carne, .collapse_pesce{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: 45vw;
    }


}

@media screen and (max-width: 550px){
    #cont{
        display: flex;
        justify-self: center;
    }
    .alimenti{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #CARNE, #PESCE, #PASTA, #FRUTTA{
        width: fit-content;
    }

    .collapse_carne, .collapse_pesce{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: 47vw;
    }

}
