@import "../Home/styleTest.css";

#cont{
    flex-wrap: wrap;
    display: flex;
}

.alimenti{
    display: inline-flex;
}

.carne, .pesce, .pasta, .frutta{
    width: 100%;
    height: 100%;
}

#CARNE{
    background: linear-gradient(45deg, #07ebdf,#060af5);
    margin: 0.5%;
}
#PESCE{
    background: linear-gradient(45deg, #a2f803,#04fb4e);
    margin: 0.5%;
}
#PASTA{
    background: linear-gradient(45deg, #c6e902,#fb0404);
    margin: 0.5%;
}
#FRUTTA{
    background: linear-gradient(45deg, #f80303,#fb04e6);
    margin: 0.5%;
}



#collapse_carne, #collapse_pesce{
    width: 100%;
    display: flex;
    justify-content: center;
    
} 

#CARNE:hover #ca1, #PESCE:hover #pe1, #PASTA:hover #pa1, #FRUTTA:hover #fr1{
    opacity: 0.5;
    transition: 0.5s;
}

#card_ca1, #card_ca2, #card_ca3,#card_ca4{
    margin: 2%;
}
#card_pe1, #card_pe2, #card_pe3,#card_pe4{
    margin: 2%;
}

#card_ca1:hover, #card_ca2:hover, #card_ca3:hover, #card_ca4:hover{
    /* background:rgb(13, 82, 211); */
    background: linear-gradient(45deg, #07ebdf,#060af5);
    transition: 1s;
}

#card_pe1:hover, #card_pe2:hover, #card_pe3:hover, #card_pe4:hover{
    /* background:lawngreen; */
    background: linear-gradient(45deg, #a2f803,#04fb4e);
    transition: 1s;
}


@media screen and (max-width: 767px){
    #cont{
        display: flex;
        justify-self: center;
    }
    .alimenti{
        flex-direction: column;
        justify-content: space-around;
    }
    #CARNE, #PESCE, #PASTA, #FRUTTA{
        width: fit-content;
    }

     #collapse_carne, #collapse_pesce{
        display: inline-block;
    }
    #card_ca1, #card_ca2, #card_ca3,#card_ca4{
        width: fit-content;
    }
    #card_pe1, #card_pe2, #card_pe3,#card_pe4{
        width: fit-content;
    }


}

@media screen and (max-width: 550px){
    #cont{
        display: flex;
        justify-self: center;
    }
    .alimenti{
        flex-direction: column;
        justify-content: space-around;
    }
    #CARNE, #PESCE, #PASTA, #FRUTTA{
        width: fit-content;
    }

    #collapse_carne, #collapse_pesce{
        display: inline-block;
    }
    #card_ca1, #card_ca2, #card_ca3,#card_ca4{
        width: fit-content;
    }
    #card_pe1, #card_pe2, #card_pe3,#card_pe4{
        width: fit-content;
    }

}
