


#bottoni{
    display: flex;
    justify-content: center;
    background: none;
    background-color:transparent;
    border-color: #212529; 
    border: 2px solid;
    font: inherit;
    line-height: 1;
    padding: 1em 1em;
    transition-duration: 0.5s;
    position: relative;
    top: 100px;
    left: 50%;
}

#bottoni:focus{
    border-color: green;
    box-shadow: none;
}


#bottoni:hover, #bottoni:hover{
    background-color: #d40e0ed0;
    border-color:transparent;
    color: #212529;
}