
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

body{
    padding-top: 76px;
    background-color:#212529 ;
}

/*#offcanvasRight {
    width: 80%;
    background-color: #212529;
}*/

.Mylogo {
    cursor: pointer;
    height:50px;
    width: 75px;
}

.container-shop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
    width: 50%;
    margin-left: 25%;
}

.image {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.prod {
    height: 200px;
    width: 200px;
    border-radius: 5%;
}

.add-cart {
    position: absolute;
    width: 100%;
    background-color: lightslategray;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5,
.image:hover .cart6,
.image:hover .cart7,
.image:hover .cart8,
.image:hover .cart9 {
    bottom: 22%;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

h3{
    margin-top: 2%;
    font-size: 15px;
}
/* -------------------------- PAGINA CARRELLO -----------------------*/

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container ion-icon {
    font-size: 25px;
    color:white;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    padding: 10px 10px;
    align-items: center;
}

.products {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
    height: 75px;
}

.baskettotal {
    display:flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.image11 {
    margin-right: 2%;
}
