@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    
}

li, a, button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
   /* background-color: #87d37c;*/
}

.header-container{
    min-height: 100vh;
    width: 100%;
    background-image: url(Images/banner1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 9vh;
    /* min-height: 60px; */
    /* padding: 5px 0%; */
    /* padding-left: 3%;
    padding-right: 6.5%; */
    background-color: #9797976b;
    position: sticky;
    top:0; /* H0 AGGIUNTO SOLO POSITION STICKY E TOP:0, MA NON SO PERCHE FUNZIONA, TOCCA VEDE AHAHAHAH*/
}

.logo {
    cursor: pointer;
    height:8vh;
    width: 60px;
    margin-left: 3%;
    margin-right: 1.2%;   
}

nav {
    flex: auto;
    display: inline-flex;
    align-items: center;
    /* margin-left: 0.7rem; */
    
} 

.nav_links{
    list-style: none;
    display: inline-flex;
    flex-wrap: nowrap ;
    align-items: center;
    /* margin-right: 0.7rem; */
}

.nav_links li{
    padding: 0.7rem 1.2rem;
    margin-top: 0.2em;
    width: max-content;
    position: relative; 
}

.nav_links a {
    transition: all 0.3s ease 0s;
}

.nav_links a:hover {
    color:darkgreen
}

.nav_links a::after{
    content: '';
    display: block;
    height: 0.2em;
    width: 0%;
    background-color: darkred;

}

.nav_links a:hover::after{
    content: '';
    display: block;
    height: 0.2em;
    width: 100%;
    background-color: rgb(228, 121, 0);
    margin: auto;
    transition: 0.5s;

}

.login {
    margin-left: auto;
    margin-right: 3%;

}

button {
    padding: 9px 25px;
    background-color: rgba(16, 134, 0, 0.925);
    border:none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color:  rgb(0, 116, 43);

}

.hidden-menu {
    display: none;
}

.hidden-menu div {
    display: block;
    width: 2em;
    height: 0.4em;
    margin: 0.3rem;
    margin-left: 0;
    margin-right: 0;
    border-radius: 2px;
    background-color: #edf0f1;
}

@media screen and (max-width:862px) {
    body{
        overflow-x: hidden;
    }

    .logo{
        display: none;
    }

    .nav_links{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        position: absolute;
        right: 0px;
        top: 9vh;
        height: 91vh;
        width: 100%;
        background-color: #9797976b;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        /* outline: solid red 1px; */
    }

    .nav_links li{
        opacity: 0;
    }
    
    .nav_links a{
        font-size: 1.5em;
    }
    
    .hidden-menu{
        display: block;
        margin-left: 3%;
        cursor: pointer;
    }

    .login{
        font-size: 1.5em;
    }
}

.nav_active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}

.toggle .line1{
    transform: rotate(-45deg) translate(-8px,8px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-8px,-8px);
}

/* CHI SIAMO */
.team-section{
    overflow: hidden;
    text-align: center;
    background: #34495e;
    padding: 60px;
}

.team-section h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
}

.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #3498db;
    margin-bottom: 40px;
}

.ps{
    margin-botton: 40px;
}

.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.ps a:hover > img{
    filter: none;
}

.section{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify;
    height: 0;
    overflow: hidden;
}

.section:target{
    height: auto;
}
.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}
