@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


li, a, button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
   /* background-color: #87d37c;*/
}

.header-container{
    min-height: 100vh;
    width: 100%;
    background-image: url(Images/banner1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0%;
    padding-left: 3%;
    background-color: #9797976b;
    position: sticky;
    top:0; /* H0 AGGIUNTO SOLO POSITION STICKY E TOP:0, MA NON SO PERCHE FUNZIONA, TOCCA VEDE AHAHAHAH*/
}

.logo, .nav_links {
    /* background-color: #87d37c;*/
}

.logo {
    cursor: pointer;    
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display:inline-block;
    padding: 10px 20px;
    position: relative;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links a::after{
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: darkred;

}

.nav_links a:hover::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(228, 121, 0);
    margin: auto;
    transition: 0.5s;

}

.nav_links li a:hover {
    color:darkgreen
}

.cta {
    margin-left: auto;
    padding-right: 6.5%;
}

button {
    padding: 9px 25px;
    background-color: rgba(16, 134, 0, 0.8);
    border:none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color:  rgb(0, 116, 43);

}



