@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    padding-top: 76px;
    background-color:#212529 ;
}

.Mylogo {
    cursor: pointer;
    height:50px;
    width: 75px;
}

#homeAnchor{ /* PROVVISORIO */
    display: none;
    padding-top: 0;
    scroll-behavior: smooth;
}

.Myheader-container{
    min-height: 88vh;
    width: 100%;
    background-image: url(Images/banner1.jpg);
    background-position: center;
    background-size: cover;
    /* margin-top: 10.55vh; */
    position: relative;
    border-radius: 1.5rem;

}

.Mytext-holder{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 12vh;
    margin-left: auto;
    margin-right: auto;
    /* height: 50vh ; */
    width: 100%;
    background:#212529 ;
    background-color: #212529 ; /*colore dark di bootstrap*/
}

/*I NOSTRI SERVIZI*/

.servizi{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: center;
    margin-top: 40px;
}

.servizio{
    margin: 2%;
    overflow: hidden;
    padding: 2% 1%;
    position: relative;
    text-align: center;
    transition: background-color 0.3s ease-in,
                transform 0.3s ease-in;
    width: 22vw;
}

.servizio:hover{
    cursor: pointer;
    background-color: #198754;
    transform: translateY(-3px);
}

.servizio::before{ /* fa l'animazione del foglio */
    content: '';
    border-width: 20px;
    border-style: solid;
    border-color: #222f3e #222f3e rgba(1,1,1,0.4) rgba(0,0,0,0.4);
    position: absolute;
    right: -40px;
    top: -40px;
    transition: right 0.3s ease-out,
                top 0.3s ease-out;
}

.servizio:hover::before{
    right: 0;
    top: 0;
}

.titolo, .descrizione{
    color: whitesmoke;
}

.servizio > i{
    display: block;
    color: #198754;
    font-size: 4rem;
    margin-bottom: 0.9rem;
    transition: color 0.3s ease-out;
}

.servizio > .titolo{
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.55rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    transition: color 0.3s ease-out;
}

.servizio > .descrizione{
    line-height: 1.55rem;
    margin: 0;
    transition: color 0.3s ease-out;
}

.servizio:hover > i,
.servizio:hover > .titolo,
.servizio:hover > .descrizione{
    color: whitesmoke;
}

@media screen and (max-width:567px) {
    .servizi{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .servizio{
        width: fit-content;
    }
}
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/* CHI SIAMO ------------------------------------*/
#chisiamoAnchor{
    scroll-behavior: smooth;
}
.team-section{
    overflow: hidden;
    text-align: center;
    /* background: #34495e; */
    background-color: #212529;
    padding: 60px;
}

.team-section h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
}

.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #3498db;
    margin-bottom: 40px;
}

.ps{
    margin-bottom: 40px;
}

.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.ps a:hover > img{
    filter: none;
}

.section{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify;
    height: 0;
    overflow: hidden;
}

.section:target{
    height: auto;
}
.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}

/*----FOOTER----------------*/
/*----FOOTER----------------*/
/*----FOOTER----------------*/

.Myfooter{
    background-color: #171a1d ;
    height: auto;
    width: 100%;
    margin-top: 40px;
    color: whitesmoke;

}

#footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    text-align: center;   
}

#footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 5rem;
}

.socials{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding-left: 0;
}

.socials li{
    margin: 0 1.2rem;
}

.socials a{
    text-decoration: none;
    color: whitesmoke;
}

.socials a i{
    font-size: 2rem;
    transition: color 0.3s ease,
                transform 0.3s ease-in;
}

.socials a:hover i{
    color: #198754;
    transform: translateY(-3px);
}
