body{
    padding-top: 76px;
    background-color:#212529 ;
}

.Mylogo {
    cursor: pointer;
    height:50px;
    width: 75px;
}
/* ICONE e IMMAGINE  */
#muscle-container{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#icon-div{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;

}

.coppiaIcone{
    list-style: none;
    width: 100%;
    padding-left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.coppiaIcone li{
    flex: content;
    margin: 1rem 2rem;
}

.coppiaIcone a i{
    text-decoration: none;
    color: whitesmoke;
    font-size: 2rem;
    transition: color 0.3s ease,
                transform 0.3s ease-in;
}

#man-icon{
    color: #198754;
}

.coppiaIcone a:hover i{
    color: #198754;
    transform: translateY(-3px);
}

#man-container{
    display: flex;
    justify-content: space-evenly;

}

#woman-container{
    display: none;
    justify-content: space-evenly;
}

.btnsx{
    display: inline-flex;
    justify-content: space-evenly;
    /* align-items: stretch; */
    flex-direction: column;
}

#man-container img{
    margin-left: 1rem;
    margin-right: 1rem;

}

#woman-container img{
    margin-left: 10%;
    margin-right: 10%;
    max-width: 50vw;
    max-height: 70vh;
}

.btndx{
    display: inline-flex;
    justify-content: space-evenly;
    /* align-items: stretch; */
    flex-direction: column;
}

/* DA RIVEDERE LA PARTE RESPONSIVE */
@media screen and (max-width: 767px) {
    #muscle-container{
        height: 100%;
    }
    #man-container{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 80vh;
        width: 90%;
    }

    #woman-container{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 80vh;
        width: 90%;
    }

    #btnsx{
        margin-top: 2%;
        margin-bottom: 2%;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    #btnsx button{
        margin-top: 2%;
        margin-bottom: 2%;
        /* margin-left: 5px;
        margin-right: 5px; */
    }
    
    #man-container img{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    #woman-container img{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    #btndx{
        margin-top: 2%;
        margin-bottom: 2%;
        display: inline-flex;
        justify-content: space-around;
        /* align-items: center; */
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    #btndx button{
        margin-top: 2%;
        margin-bottom: 2%;
        /* margin-left: 5px;
        margin-right: 5px; */
    }

}

/*---------ACCORDION PER VIDEO---------- */
/*---------ACCORDION PER VIDEO---------- */
/*---------ACCORDION PER VIDEO---------- */
#accordion-container{
    margin-top: 4rem;
    display: none;
}
#myaccordion-button{
    color: #198754;
    background-color: #212529;
}

#myaccordion-button:hover{
    color: whitesmoke;
    background-color: #198754;
}

#myaccordion-button:not(.collapsed) {
    color: #00ff88;
}

#myaccordion-button:focus {
    border-color: #00ff88;
    box-shadow: 0 0 0 0.25rem rgba(145, 255, 0, 0.25);
  }

#myaccordion-item{
    background-color: #212529;
    border: 1px solid #198754;
    color: #198754;
}

.accordion-body{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}
/* iframe video */
/* iframe video */
/* iframe video */

/* VEDI LA ROBA CON BEFORE */
#iframe-container::before{
    content: '';
    display: block;
    background-color: rgb(40, 100, 0);
    height: 0.2rem;
    width: 75%;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

#iframe-container:hover::before{
    content: '';
    display: block;
    background-color: rgb(125, 206, 49);
    height: 0.2rem;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    transition: 0.5s;
}

#iframe-container{
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

#iframe-container:hover{
    background-color: #15171a;
    transition: 0.5s ease-in;
}

#c1,#c2,#c3{
    display: flex;
    justify-content: center;
    align-items: center;
}

#c1{
    flex-direction: column;
}

@media screen and (max-width: 385px) {
    #c1 iframe{
        width: 80%;
    }
}

/* SCHEDA */
/* SCHEDA */
/* SCHEDA */

#scheda{
    display: none;
    margin-top: 1rem;
    color:whitesmoke;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#scheda #colEs,#scheda #colSer{
    border: 2px solid #198754;
    /* border-radius: 1rem; */
    margin-bottom: 1rem;
}

#colEs > h2,#colSer > h2{
    margin-bottom: 0.3rem;
}

#scheda #colEs,#scheda #colSer,
#scheda #colEl1,#scheda #colEl2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lista-serie{
    list-style: none;
}

/* #btn-delete{
    display: flex;
    justify-content: flex-end;
    
} */



/*----FOOTER----------------*/
/*----FOOTER----------------*/
/*----FOOTER----------------*/

.Myfooter{
    background-color: #171a1d ;
    height: auto;
    width: 100%;
    margin-top: 40px;
    color: whitesmoke;
    position: relative;
    bottom: 0;
}

#footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    text-align: center;   
}

#footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 5rem;
}

.socials{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding-left: 0;
}

.socials li{
    margin: 0 1.2rem;
}

.socials a{
    text-decoration: none;
    color: whitesmoke;
}

.socials a i{
    font-size: 2rem;
    transition: color 0.3s ease,
                transform 0.3s ease-in;
}

.socials a:hover i{
    color: #198754;
    transform: translateY(-3px);
}
