body{
    padding-top: 76px;
    background-color:#212529 ;
}

.Mylogo {
    cursor: pointer;
    height:50px;
    width: 75px;
}
/* ICONE e IMMAGINE  */
#muscle-container{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#icon-div{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;

}

.coppiaIcone{
    list-style: none;
    width: 100%;
    padding-left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.coppiaIcone li{
    flex: content;
    margin: 1rem 2rem;
}

.coppiaIcone a i{
    text-decoration: none;
    color: whitesmoke;
    font-size: 2rem;
    transition: color 0.3s ease,
                transform 0.3s ease-in;
}

.coppiaIcone a:hover i{
    color: #198754;
    transform: translateY(-3px);
}

#man-container{
    display: none;
    justify-content: space-evenly;

}

#woman-container{
    display: none;
    justify-content: space-evenly;
}

#btnsx{
    display: inline-flex;
    justify-content: space-evenly;
    /* align-items: stretch; */
    flex-direction: column;
}

#man-container img{
    margin-left: 1rem;
    margin-right: 1rem;

}

#woman-container img{
    margin-left: 10%;
    margin-right: 10%;
    max-width: 50vw;
    max-height: 70vh;
}

#btndx{
    display: inline-flex;
    justify-content: space-evenly;
    /* align-items: stretch; */
    flex-direction: column;
}

/* DA RIVEDERE LA PARTE RESPONSIVE */
@media screen and (max-width: 767px) {
    #muscle-container{
        height: 100%;
    }
    #man-container{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 80vh;
        width: 90%;
    }

    #woman-container{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 80vh;
        width: 90%;
    }

    #btnsx{
        margin-top: 2%;
        margin-bottom: 2%;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    #btnsx button{
        margin-top: 2%;
        margin-bottom: 2%;
        /* margin-left: 5px;
        margin-right: 5px; */
    }
    
    #man-container img{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    #woman-container img{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    #btndx{
        margin-top: 2%;
        margin-bottom: 2%;
        display: inline-flex;
        justify-content: space-around;
        /* align-items: center; */
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    #btndx button{
        margin-top: 2%;
        margin-bottom: 2%;
        /* margin-left: 5px;
        margin-right: 5px; */
    }

}




/*----FOOTER----------------*/
/*----FOOTER----------------*/
/*----FOOTER----------------*/

.Myfooter{
    background-color: #171a1d ;
    height: auto;
    width: 100%;
    margin-top: 40px;
    color: whitesmoke;
    
}

#footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    text-align: center;   
}

#footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 5rem;
}

.socials{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding-left: 0;
}

.socials li{
    margin: 0 1.2rem;
}

.socials a{
    text-decoration: none;
    color: whitesmoke;
}

.socials a i{
    font-size: 2rem;
    transition: color 0.3s ease,
                transform 0.3s ease-in;
}

.socials a:hover i{
    color: #198754;
    transform: translateY(-3px);
}
